@font-face {
    font-family: FuturaMedium;
    src: url(/fonts/futura-medium.ttf);
}

@font-face {
    font-family: TrebuchetMS;
    src: url(/fonts/trebuchetMS.ttf);
}

html {
    margin: 0px;
    padding: 0px;
    min-height: 100%;
    height: 100vh;
    width: 100%;
}

body {
    background-color: transparent!important;
}

#landingPage {
    background: linear-gradient(235deg, rgba(255, 85, 85, 0.3) 0%, rgba(255, 85, 85, 0) 100%), linear-gradient(115deg, rgba(85, 255, 85, 0.3) 0%, rgba(85, 255, 85, 0) 100%), linear-gradient(180deg, rgba(85, 85, 255, 0) 0%, rgba(85, 85, 255, 0.4) 100%), #FFFFFF;
    background-attachment: fixed;
}

#greenBackground {
    background: linear-gradient(135deg, #D9FFD9 0%, #FFFFFF 100%);
    background-attachment: fixed;
}

body,
div,
section,
footer,
h1,
h2,
h3,
ul,
a {
    margin: 0px;
    padding: 0px;
    color: #111;
}

nav {
    display: flex;
    justify-content: left;
    width: 100%;
    padding: 50px 0;
}

nav li {
    display: inline-block;
    margin-right: 75px;
    margin-bottom: 3px;
}

nav a {
    font-family: 'TrebuchetMS', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 42px;
    text-decoration: none;
    color: black;
    padding: 5px 0;

}

nav li:hover {
    border-bottom: 3px solid #111;
    margin-bottom: 0px;
}

nav li.no-underline:hover {
    border-bottom: none;
    margin-bottom: 3px;
}


.myName,
.myTagline {
    padding-right: 50px;
}

.myName {
    grid-area: myName;
    height: 100%;
    margin: 0px;

}

.myName h1 {
    font-family: 'FuturaMedium', 'Futura', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 70px;
    line-height: 85px;
    border-bottom: 1px solid black;
    padding-bottom: 17px;
    margin: 0;
}

.myTitle {
    grid-area: myTitle;
    margin: 10px 0;
    font-family: 'TrebuchetMS', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 28px;
    text-align: right;
    height: 28px;
}

.myTagline {
    grid-area: myTagline;
    height: 100%;
    margin: 0;
    font-family: 'TrebuchetMS', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    margin: 30px 0;
}

.myFaceBox {
    grid-area: myFace;
    display: flex;
    margin: 0;
    padding: 10px 0;
    align-items: baseline;
}

.myFace {
    background: url(../images/Portfolio-Portrait3.png) no-repeat;
    background-size: 250px;
    background-position: bottom;
    margin: 0;
    width: 252px;
    height: 252px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 250px;
}

.button {
    padding: 10px;
    font-size: 1.5em;
    background: #111;
    color: white;
    border: none;
    border-radius: 3px;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background: rgba(0, 0, 0, 0.7);
  }
  


  #modal-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    align-items: stretch;
    justify-content: center;
    top:0px;
    overflow: hidden;
  }

  .hidden {
    display: none;
  }

  #modal-overlay #modal-background {
    width: 100%;
    height: 100vh;
    position: absolute;
    animation: fadeBackground 1s;
    animation-fill-mode: forwards;
    background: ;
    mix-blend-mode: overlay;
    z-index: 1;
  }
  
  #modal-overlay #modal {
    max-width: 100%;
    width: 100%;
    background-color: rgb(24, 24, 24);
    color:white;
    height: fit-content;
    animation: expandModal 0.75s;
    animation-fill-mode:forwards;
    z-index:5;
    position: relative;
    flex-direction: column;
    padding:25px;
    opacity:1;
    margin:100px 10%;
    font-size: 18px;
    font-family: sans-serif;
    border-radius: 5px;
  }

  #modal h1 {
    color: white;
    font-family: 'FuturaMedium', 'Futura', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 60px;
    padding-bottom:15px;
  }

  .aboutFlex {
    display: flex;
  }

 #modal p {
    color: #ececec;
    margin-left: 25px;
    margin-top:0px;
    font-size: 20px;
    line-height: 25px;
    font-family: 'Lato', 'TrebuchetMS', 'Trebuchet MS', Arial, sans-serif;
 }

  /* @keyframes expandModal {
    from { top:-100%; }
    to { top:0px; }
  } */

  @keyframes expandModal {
    0% {
        transform:scale(.8) translateY(0px);
        opacity:0;
      }
      100% {
        transform:scale(1) translateY(0px);
        opacity:1;
      }
  }

  @keyframes fadeBackground {
    from { background-color: rgba(0, 0, 0, 0); }
    to { background-color: rgba(0, 0, 0, 0.5); }
  }
  
  .close-button {
    background-image: url(../images/close-button.png);
    background-color: transparent;
    border: none;
    position: absolute;
    top: 25px;
    right: 25px;
    height: 40px;
    width: 40px;
    cursor: pointer;
  }
 
  .close-button:hover {
    background-color: transparent;
    background-image: url(../images/close-button.png);
    background-blend-mode:screen;
    cursor: pointer;
    height: 40px;
    width: 40px;
  }

section {
    margin: 0;
    padding: 0 150px;
}

#mySkills {
    display: flex;
    margin: 25px 0;
    font-family: 'TrebuchetMS', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    flex-direction: column;
}

#mySkills h1,
.sectionOne h1 {
    font-family: 'FuturaMedium', 'Futura', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 85px;
    margin: 25px auto;
    padding-bottom:15px;
    width: 100%;
    border-bottom: 1px solid #111;
}

.skillsContainer {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    padding: 10px 0px;
    gap: 50px;
}

.skillBox {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    background: rgba(255, 255, 255, 0.5);
    border: rgba(0, 0, 0, 0.5) 1px solid;
    border-radius: 3px;
}

.skillBox img {
    max-width: 100px;
}

.skillBox h3 {
    text-align: center;
    margin: 15px 0 10px 0;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}

.skillBox p {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
}

.sectionOne {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 100%);
}

.section {
    background: rgba(255, 255, 255, 0.5);
}

.projectGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100%;
    padding: 50px 0;
}

.projectA {
    grid-template-areas: "projectDescription projectImage";
}

.projectB {
    grid-template-areas: "projectImage projectDescription";
}


.projectDescription {
    grid-area: projectDescription;
    font-family: 'Trebuchet MS', sans-serif;
    font-style: normal;
    color: #111;
}

.projectDescription h1 {
    font-weight: 700;
    font-size: 64px;
    line-height: 74px;
    margin-bottom: 17px;
}

.projectTitle {
    margin: 15px 0 10px 0;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 35px;
}

.projectHeadline {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 17px;
}

.projectLink {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-decoration-line: underline;
    color: #111;
}

.projectImage {
    grid-area: projectImage;
}

footer {
    background-color: white;
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
}

footer ul {
    padding: 0 150px;
}

footer li {
    display: inline-block;
    margin-right: 50px;
}

footer a {
    font-family: 'Futura';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    text-decoration-line: underline;
    color: #111;
}

@media only screen and (min-width:1290px) {
   
    header {
        padding: 0px 10%;
        margin-top:150px;
    }
   
   
    .homeGrid {
        display: grid;
        grid-template-columns: 1fr 252px;
        grid-template-rows: 1fr 28px 1fr;
        grid-template-areas: "myName myFace"
            "myTitle myFace"
            "myTagline myFace";
        padding: 0px;
        margin:0px;
    }
    
}

@media only screen and (max-width:1290px) {

    header {
        padding: 0px 25px;
        margin-top:150px;
    }


    .homeGrid {
        display: grid;
        grid-template-columns: 1fr 252px;
        grid-template-rows: 1fr 28px 1fr;
        grid-template-areas: "myName myFace"
            "myTitle myFace"
            "myTagline myFace";
        padding: 0px;
        margin:0px;
    }

}

